.adw_accent_color_blue {
    background-color: "#3584e4";
}

.adw_accent_color_teal {
    background-color: #2190a4;
}

.adw_accent_color_green {
    background-color: "#3a944a";
}

.adw_accent_color_yellow {
    background-color: "#c88800";
}

.adw_accent_color_orange {
    background-color: "#ed5b00";
}

.adw_accent_color_red {
    background-color: "#e62d42";
}

.adw_accent_color_pink {
    background-color: "#d56199";
}

.adw_accent_color_purple {
    background-color: "#9141ac";
}

.adw_accent_color_slate {
    background-color: "#6f8396";
}
